.authorRetrivallWrap .common-section-left {
  padding: 25px 20px 60px ;
}
.authorRetrivallWrap .searchName {
  overflow: hidden;
  padding: 35px  0;
  border-bottom: 1px solid #e7e7e7;
}
.authorRetrivallWrap .searchName span {
  display: block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  float: left;
  position: relative;
  margin: 4px 20px 0 0;
}
.authorRetrivallWrap .searchName p {
  overflow: hidden;
}
.authorRetrivallWrap .searchName p a {
  display: inline-block;
  min-width: 90px;
  text-align: left;
  margin: 0 20px 15px 0;
  font-size: 14px;
}
.authorSignlWrap {
  background-color: #fff;
  padding: 0 0 100px;
  color: #1B2641;
}
.authorSignlWrap .top {
  border-bottom: 1px solid #e7e7e7;
  padding: 0 50px;
}
.authorSignlWrap .top .bigtitle {
  font-size: 18px;
  padding-bottom: 25px;
}
.authorSignlWrap .Explain {
  padding: 0 50px;
  font-size: 14px;
}
.authorSignlWrap .Explain div {
  padding-top: 20px;
}
.authorSignlWrap .Explain div p {
  margin-bottom: 15px;
}
.authorSignlWrap .Explain li {
  margin-bottom: 30px;
}
.authorSignlWrap .Explain li .title {
  font-size: 18px;
  padding-top: 16px;
}
.authorSignlWrap .Explain li .line {
  margin: 15px 0;
}
.authorSignlWrap .Explain li .smalltitle {
  font-size: 16px;
  margin-top: 5px;
}
.authorSignlWrap .Explain li p span {
  z-index: 28px;
  display: inline-block;
  padding: 0 28px;
}
.authorSignlWrap .Explain .Submission .title {
  color: #3cabdb;
}
.authorSignlWrap .Explain .Submission .line {
  border-color: #3cabdb;
}
